@font-face {
    font-family: 'GothamBook', 'SourceHanSansCN-Normal';
    src: url('../fonts/GothamBook.otf') format('otf');
    src: url('../fonts/SourceHanSansCN-Normal.otf') format('otf');
    font-weight: normal;
}

html,
body {
    font-family: 'GothamBook', 'SourceHanSansCN-Normal';
    position: relative;
    overflow-x: hidden;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.clearfix:after {
    content: "";
    clear: both;
}
.img-responsive {
    width: 100%;
    height: 100%;
}
.none {
    padding: 0;
}
.h50 {
    height: 50vh;
}
.border {
    border-right: 1px solid #fff;
}
.wrapper {
    padding-top: 0px;
}
p {
    word-wrap: break-word;
    text-align: justify;
    /*word-break: break-all;*/
}
/*p {
    display: block;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}*/


/*navigation*/
.navigationbar {
    background: transparent;
    height: 56px;
}
.border-bottom {
    border-bottom: 1px solid #ddd;
}

.modified {
    background: #000;
    transition: all;
}
.logo-wrap {
    height: 56px;
    width: 100px;
    display: inline-block;
}
.logo {
    width: 100px;
/*    height: 50px;*/
    padding-top: 17px;
}

#nav-toggle {
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    position: absolute;
    right: 15px;
    top: 17px;
    bottom: 17px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -o-border-radius: 1px;
    height: 2px;
    width: 30px;
    background: #ddd;
    position: absolute;
    display: block;
    content: '';
}
#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 1px;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: translateY(-10px) rotate(-45deg);
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    top: 10px;
}

.nav li {
    width: 100%;
    text-align: center;
    background: #000;
    border-top: 1px solid #ddd;
}
.pull-wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 56px;
}
.nav-pills>li>a {
    border-radius: 0px;
    color: #ddd;
    font-size: 20px;
}

.nav-pills>li>a:hover {
    color: #f57800;
    background: transparent;
}

/*project*/
.project {
    position: relative;
}
.slide_banner .slide-pagination {
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 1%;
    bottom: 3%;
    z-index: 1;
}
.swiper-pagination-bullet {
    cursor: pointer;
    width: 2em;
    height: 4px;
    background: #fff;
    opacity: 0.4;
    filter: alpha(opacity=40);
    float: left;
    margin: 0 .5em;
    border-radius: 3px;
}
.swiper-pagination-bullet-active {
    background: #f57800;
}
.font-animate {
    position: absolute;
    top: 50%;
    color: #fff;
    left: 15px;
}
.button-down {
    bottom: 3%;
    position: absolute;
    left: 50%;
    z-index: 1;
    font-size: 20px;
}
.down {
    color: #fff;
    opacity: .5;
}
.down:hover {
    color: #f57800;
}
/*concept*/
.img-box {
    height: 50vh;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #fff;
}
.describe {
    position: absolute;
    left: 0;
    width: 50%;
    padding: 2%;
    bottom: 0;
    color: #fff;
    padding-left: 5%;
}
.describe-left {
}
.describe-right {
}
.describe:hover {
    color: #f57800;
    background-color: rgba(255,255,255,1);
    transition: all 1s;
    opacity: .9;
}

/*new*/
.newsCon {
    position: relative;
}
.font-list {
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    padding: 40px;  
    bottom: 0;
}
.font-list h3 {
    margin-bottom: 15%;
}
.grey {
    background: #ddd;
    border-bottom: 1px solid #fff;
}
.grey:hover {
    color: #f57800;
    transition: all 0.5s;
    background: rgba(255,255,255,1); 
}
.font-list:hover {
    color: #f57800;
    transition: all 1s;
    background: rgba(255,255,255,.9); 
}
/*about*/
.about {
    height: 100%;
    position: relative;
}
.about_slide .about-pagination {
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 8%;
    bottom: 3%;
    z-index: 1;
}


/*footer*/
footer{
    height:50%;
    background:#000;
    color:#fff;
}
.addres-wrap{
    overflow:hidden;
    height:90%;
}
.addres-wrap .w25{
    width:25%;
    height:100%;
    float:left;
    margin: 3% 0 2%;
}
.addres-wrap .logo img{
    width:70%;
    padding-left:10%;
}
.addres-wrap h3{
    margin-top: 0;
    font-size: 20px;
    margin-bottom:10%;
}
.addres-wrap p{
    width:80%;
    line-height:22px;
}
.addres-wrap .share ul li{
    width: 25px;
    height: 25px;
    margin-right: 7%;
    float:left;
    cursor:pointer;
}
.share a:hover {
    opacity: .4;
}
.addres-wrap .share ul li.o{
    background:url(../images/Share.png) no-repeat 0 0;
    background-size:700%;
}
.addres-wrap .share ul li.f{
    background:url(../images/Share.png) no-repeat -38px 0;
    background-size:700%;
}
.addres-wrap .share ul li.wx{
    background:url(../images/Share.png) no-repeat -75px 0;
    background-size:700%;
}
.addres-wrap .share ul li.xl{
    background:url(../images/Share.png) no-repeat -113px 0;
    background-size:700%;
}
.addres-wrap .share ul li.mail{
    background:url(../images/Share.png) no-repeat -152px 0;
    background-size:700%;
}
.copyright{
    padding-bottom: 3%;
    height:10%;
    text-align:center;
    font-size: 14px;
}

/*search.html*/
.section-title {
    margin-bottom: 50px;
    letter-spacing: 8px;
}
.searchBox {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.single-item {
    height: 135px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.name-title {
    font-size: 13px;
    font-weight: 400;
    margin: 10px 0 5px;
}
.test-name {
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px 0 10px;
}
.searchFont:hover {
    color: #f57800;
}

/*project.html*/
.imgBox {
    position: relative;
}
.fontBox {
    opacity: 0;
    color: #f57800;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 17%;
    padding-left: 20px;
}
.fontBox:hover {
    opacity: 1;
    color: #f57800;
    background: #fff;
    padding-left: 20px;
    transition: all 1s; 
    height: 50%;
}

/*concept.html*/
.navbar-nav li {
    padding: 18px 40px 16px 18px;
}
.navbar-nav li a{
    color: #ddd;
    font-size: 20px;
    text-decoration: none;  
}
.navbar-nav li a:hover{
    color: #f57800;
}
.third {
    display: none;
    margin-bottom: 20px;
}
.twoLelUl {
    background-color: #fff;
    margin-top: 20px;
    color: #ddd;
    display: none;
}
.navbar-nav .twoLelUl li {
    cursor: pointer;
    /*padding-left: 0;*/
}
.twoLelUl li:hover {
    color: #f57800;
}
.navbar-nav .urban {
    width: 150px;
    padding-right: 0;
}
.urban:hover .twoLelUl {
    display: block;
}
.active {
    color: #f57800;
}
/*.concept-third, .imgShow {
    height: 50vh;
}*/
.btnGroup {
    padding-right: 0px;
    padding-left: 0px;
    position: fixed;
    right: 25px;
    top: 75px;
}
.btnGroup .share a {
    display: none;
}
.btnGroup .share:hover a {
    display: block;
}
.btnGroup a {
    text-align: right;
    display: block;
}
.imgShow {
    position: relative;
}
.swiper-container {
    width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.gallery-top {
    height: 80%;
    width: 100%;
}
.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

.concept-warp .describe {
    width: 100%;
    background: transparent;
}
.concept-warp .describe h3 {
    font-size:16px;
    margin:20px 0;
}
.concept-wrap .describe h4{
    font-size:26px;
    line-height:34px;
}
.concept-warp .describe:hover {
    left: 0;
    padding-left: 5%;
    color:#F97602;
    background:#fff;
}

/*contact.html*/
.careers-wrap {
    padding-top: 25px;
}
.careers-wrap li input,textarea,button {
    width: 100%;
    margin-bottom: 10px;
    font-size:14px;
    border:1px solid #949494;
    padding:5px 5px 5px 14px;
}
.careers-wrap textarea{
    height:60px;
}
.careers-wrap button{
    height:48px;
    border:1px solid #949494;
    background:#fff url(../images/careers-btn.png) no-repeat 184px -62px;
    cursor:pointer;
}
.careers-wrap input,textarea.active{
    border:1px solid #f97602;
}
.careers-wrap button.active{
    border:1px solid #f97602;
    color:#f97602;
    background:#fff url(../images/careers-btn.png) no-repeat 184px 11px;
}
.file{
    height: 32px;
    position: relative;
    border: 1px solid #949494;
    color: #999;
    margin-bottom: 10px;
    padding:5px 5px 5px 14px;
}
.file input{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: -5px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

/*new.html*/
.isotope .fontList {
    height: 100%;
    background: #ccc;
    padding: 15px 20px;
    color: #fff;
}
.fontList h4 {
    margin: 0;
}
.isotope .fontList:hover {
    height: 100%;
    background: #fff;
    padding: 15px 20px;
    color: #f57800;
    transition: all 1s; 
}
.isotope .describe:hover {
    left: 0;
    padding-left: 5%;
    color: #f57800;
    background-color: #fff;
    transition: all 1s;
}

/*character.html*/
.bg-box{
    background: url(../images/office1.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.banner{
    height: 100vh;
}
.banner_slide .banner-pagination {
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 1%;
    bottom: 3%;
    z-index: 1;
}
.banner .text {
    background: #fff;
}
.banner .text h2{
    padding:20px 30px 5px;
    font-size:26px;
}
.banner .text p{
    margin:30px 30px;
    font-size:14px;
}
.item2{
    height:100%;
    width:100%;
    background:#fff;
}
.item2 .left{
    width:50%;
    height:100%;
    float:left;
    background:#fff;
    position:relative;
}
.item2 .left ul{
    height:100%;
    width:100%;
}
.item2 .left li{
    width:33.3333%;
    height:33.3333%;
    float:left;
    cursor: pointer;
}
.item2 .left li.last{
    background:url(../images/downNone_10.png) no-repeat;
    background-size:100% 100%;
}
.item2 .left li img{
    width:100%;
    height:100%;
    cursor:pointer;
}
#show{
    position:absolute;
    width:66.66%;
    height:66.66%;
    display:none;
}
#show img{
    width:100%;
    height:100%;
}
.item2 .pull-right {
    height:100vh;
    background:#fff url(../images/character-people.png) no-repeat;
    background-size:100%;
}
.item2 .pull-left ul{
    height:100vh;
}
.item2 .pull-left ul li {
    width: 33.33%;
    height: 33.33%;
    float: left;
}
.item2 .pull-right .text{
    display:none;
    width:100%;
    height:100%;
    background:#fff;
    color:#f57800;
    padding-left:10%;
}
.item2 .pull-right .text h3{
    font-size:16px;
    padding-top:10%;
    margin: 0;
}
.item2 .pull-right .text h2{
    font-size:26px;
    padding-top:5%;
}
.item2 .pull-right .text ul{
    padding-top:30%;
}
.item2 .pull-right .text li{
    line-height:20px;
    height:20px;
}
.item2 .pull-right .text span{
    position:absolute;
    top:5%;
    right:5%;
    width:50px;
    height:50px;
    background:url(../images/gb.png) no-repeat;
    cursor:pointer;
}
.table{
    /*width:96%;*/
    width:100%;
    background:#fff;
    height:auto;
    padding:50px 2%;
    margin:0;
}
table{
    text-align:left;
    width:100%;
    border-collapse:collapse;
    border-spacing:1;
    border-spacing:0;
    border:none;
}
th{
    border-bottom:none;
    padding:0 10px;
    font-weight:100;
    color:#d2d2d2;
}
table td{
    padding:10px;
    color:#5a5a5a;
}
tr{
    height:42px;
}
tbody tr{
    border-bottom:1px solid #d2d2d2;
}
tbody tr:nth-last-of-type(1){
    border-bottom:none;
}

/*keyframes*/
@keyframes pulse{
    0%{transform:scale(1);}
    50%{transform:scale(1.1);}
    100%{transform:scale(1);}
}
@-webkit-keyframes pulse{
    0%{-webkit-transform:scale(1);}
    50%{-webkit-transform:scale(1.1);}
    100%{-webkit-transform:scale(1);}
}

@keyframes swing{
    20%,40%,60%,80%,100%{transform-origin:top center;}
    20%{transform:rotate(15deg);}
    40%{transform:rotate(-10deg);}
    60%{transform:rotate(5deg);}
    80%{transform:rotate(-5deg);}
    100%{transform:rotate(0deg);}
}
@-webkit-keyframes swing{
    20%,40%,60%,80%,100%{-webkit-transform-origin:top center;}
    20%{-webkit-transform:rotate(15deg);}
    40%{-webkit-transform:rotate(-10deg);}
    60%{-webkit-transform:rotate(5deg);}
    80%{-webkit-transform:rotate(-5deg);}
    100%{-webkit-transform:rotate(0deg);}
}

@keyframes flash{
    0%,66.66%{opacity: 0;}
    33.33%,100%{opacity: 1;}
}
@-webkit-keyframes flash{
    0%,66.66%{opacity: 0;}
    33.33%,100%{opacity: 1;}
}

@keyframes tada{
    0%{transform:scale(1);}
    10%,20%{transform:scale(0.9) rotate(-3deg);}
    30%,50%,70%,90%{transform:scale(1.1) rotate(3deg);}
    40%,60%,80%{transform:scale(1.1) rotate(-3deg);}
    100%{transform:scale(1) rotate(0);}
}
@-webkit-keyframes tada{
    0%{-webkit-transform:scale(1);}
    10%,20%{-webkit-transform:scale(0.9) rotate(-3deg);}
    30%,50%,70%,90%{-webkit-transform:scale(1.1) rotate(3deg);}
    40%,60%,80%{-webkit-transform:scale(1.1) rotate(-3deg);}
    100%{-webkit-transform:scale(1) rotate(0);}
}

@keyframes rotateX{
    0%{transform: perspective(400px) rotateX(90deg);}    
    40%{transform: perspective(400px) rotateX(-30deg);}
    70%{transform: perspective(400px) rotateX(30deg);}
    100%{transform: perspective(400px) rotateX(0deg);}
}
@-webkit-keyframes rotateX{
    0%{-webkit-transform: perspective(400px) rotateX(90deg);}    
    40%{-webkit-transform: perspective(400px) rotateX(-30deg);}
    70%{-webkit-transform: perspective(400px) rotateX(30deg);}
    100%{-webkit-transform: perspective(400px) rotateX(0deg);}
}

@keyframes rotateY{
    0%{transform: perspective(400px) rotateY(90deg);}    
    40%{transform: perspective(400px) rotateY(-20deg);}
    70%{transform: perspective(400px) rotateY(20deg);}
    100%{transform: perspective(400px) rotateY(0deg);}
}
@-webkit-keyframes rotateY{
    0%{-webkit-transform: perspective(400px) rotateY(90deg);}    
    40%{-webkit-transform: perspective(400px) rotateY(-20deg);}
    70%{-webkit-transform: perspective(400px) rotateY(20deg);}
    100%{-webkit-transform: perspective(400px) rotateY(0deg);}
}

@keyframes bounce{
    0%,20%,50%,80%,100%{transform:translateY(0);}
    40%{transform:translateY(-20px);}
    60%{transform:translateY(-10px);}
}
@-webkit-keyframes bounce{
    0%,20%,50%,80%,100%{-webkit-transform:translateY(0);}
    40%{-webkit-transform:translateY(-20px);}
    60%{-webkit-transform:translateY(-10px);}
}

@keyframes bounceInDown{
    0%{opacity:0;transform:translateY(-2000px);}
    60%{opacity:1;transform:translateY(30px);}
    80%{transform:translateY(-10px);}
    100%{transform:translateY(0);}
}
@-webkit-keyframes bounceInDown{
    0%{opacity:0;-webkit-transform:translateY(-2000px);}
    60%{opacity:1;-webkit-transform:translateY(30px);}
    80%{-webkit-transform:translateY(-10px);}
    100%{-webkit-transform:translateY(0);}
}


@keyframes opacity{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@-webkit-keyframes opacity{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes tt_effect{
    0%{transform:translateY(-20px);opacity:0;}
    100%{transform:translateY(0);opacity:1;}
}
@-webkit-keyframes tt_effect{
    0%{-webkit-transform:translateY(-20px);opacity:0;}
    100%{-webkit-transform:translateY(0);opacity:1;}
}

@keyframes bg_effect{
    0%{transform:scale(1,1);}
    100%{transform:scale(1.05,1.05);}
}
@-webkit-keyframes bg_effect{
    0%{-webkit-transform:scale(1,1);}
    100%{-webkit-transform:scale(1.05,1.05);}
}

@media only screen and (min-width: 992px) {
    .navbar-nav .twoLelUl li {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav .twoLelUl li {
        /*padding-left: auto;*/
        text-align: center;
    }
    .navbar-nav .urban,
    .architecture,
    .landscape {
        /*width: 33.33%;*/
        /*position: fixed;*/
        /*top: 56px;*/
        text-align: center;
        float: left;
    }
    .navbar-nav .urban {
        /*left: 0;*/
        width: 25%;
    }
    .architecture {
        /*left: 25%;*/
        width: 40%;
    }
    .landscape {
        /*left: 65%;*/
        width: 35%;
    }
    .logo-wrap {
        width: 90%;
    }
}

/*Media Query*/
@media only screen and (min-width: 100px) and (max-width: 640px) {
    /*.img-responsive {
        max-width:100%;
        max-height:100%;
        overflow:hidden;   
    }*/
    .logo {
        width: 130px;
        height: 50px;
        transition: all;
        margin-top: 5px;
    }
    .font-animate {
        left: 5%;
    }
    .slide_banner .slide-pagination {
        left: 5%;
    }
    .describe-left {
        left: 14%;
    }
    .describe-right {
        left: 9%;
    }
    .section-title {
        margin-bottom: 10px;
    }
    .searchBox {
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }
    .addres-wrap{
        height:45%;
    }
    .addres-wrap .w25{
        float:none;
        width:100%;
        height:25%;
        margin-top:3%;
    }
    .addres-wrap .logo{
        height:15%;
        margin-top:0;
    }
    .addres-wrap .logo img{
        margin: 5% 0 0 4%;
        padding:0;
        width:45%;
    }
    .addres-wrap h3{
        margin:0 0 0 4%;
        float:left;
        width:25%;
        font-size:20px;
    }
    .addres-wrap p{
        float:left;
        width:70%;
        font-size:14px;
    }
    .addres-wrap ul{
        float:left;
        width:70%;
        font-size:14px;
    }
    .addres-wrap .share ul{
        height:100%;
    }
    .addres-wrap .share ul li{
        float: left;
        width: 25px;
        height: 25px;
        margin-right: 7%;
    }
    .copyright{
        height:4%;
        font-size:14px;
    }
}

#concept{
    margin-right: 17px;
    margin-left: 15px
}

#new {
    margin-left: 15px;
    margin-right: 17px;
}

.nav-bg:hover{
    background-color: #fff;
}

#about .font-animate:hover{
    /*background-color: #fff;*/
    /*color: #f57800;*/
}

.carousel-indicators-wrap {
    height: 20%;
    /*border: 1px solid #ccc;*/
    display: block;
    margin-left: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    overflow: hidden;
}
.carousel-indicators li {
    opacity: .8;
}
.carousel-indicators .active {
    opacity: 1;
}

.carousel-indicators {
    /*border: 1px solid black;*/
    height: 100%;
    display: flex;
    width: 100%;
    margin-left: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100%;
    /*top: -100%;*/
    z-index: 10000;
}

.carousel-indicators li,
.carousel-indicators .active {
    margin: 0;
    text-indent: 0;
    flex: 1;
    flex-grow: 1;
    height: 100%;
    border-radius: 0;
}
.carousel-indicators li img {
    width: 100%;
    height: 100%;
}

.carousel-inner .item img {
    margin: auto;
}

.new_images1{
    height:100%;
    background:url('../images/third-top.png')
}

.new_images2{
    height:100%;
    width:49%;
    display: inline-block;
    background:url('../images/mini.png') no-repeat;
    background-position: center;
}

.new_images3_left{
    height:100%;
    width:49%;
    background:url('../images/left1_01.png') no-repeat;
    display: inline-block;
}

.new_images3_right{
    height:100%;
    width:49%;
    background:url('../images/thirdright.png') no-repeat;
    display: inline-block;
    position: relative;
    left: -7px;
}

#action .wrapper{
    margin-bottom: -20px;
}

.container-fluid {

}

#map div{
    height: 100%
}

#map div img{
    width: 100%
}

.pull ul{
    border-bottom: 1px solid #ddd;
}
/*#navBar .container-fluid .logo{
    position: relative;
}

#navBar .container-fluid .logo+ul{
    float: right;
    position: relative;
    max-width: calc(100% - 150px);
    overflow: visible;
    height: 60px;
}

#navBar .container-fluid .logo+ul li{
    float: left;
    padding: 18px 0 16px 18px;
}

#navBar .container-fluid .logo+ul li:last-child{
    width: 70px;
}

#navBar .container-fluid .navbar-nav{
    margin: 0;
}

#navBar .container-fluid .navbar-nav .urban .twoLelUl{
    width: 40px;
}

#navBar .container-fluid .navbar-nav .urban{
    width: 60px;
}*/