/*基本布局*/
html{
  font-family:"SimHei", "Heiti SC","Helvetica", Helvetica,"Droidsansfallback","Droid Sans";
}
body{
  width: 7.5rem;
  margin:0px;
  overflow-x: hidden;
}
.content{
  height: 13.34rem;
  width: 7.5rem;
  position: absolute;
  overflow-x: hidden;

}
#records{
  background-color: #ebebeb;
}
.loading{
  width:7.5rem;
  margin-top: 2rem;
}
#empty{
  background-color: #dcdcdc;
  color:#999999;
  font-size: 0.32rem;
  display: none;
  overflow-x: hidden;
  text-align: center;
}
#empty>p{
  margin:0 auto;
  position: absolute;
  top:0.6rem;
  width: 7.5rem;
}
.record_item{
  background: url('../img/zhongjiangjilu.png') no-repeat center;
  width: 6.9rem;
  height: 1.88rem;
  background-size: 6.9rem;
  position: relative;
  margin:0.2rem auto;
}
.record_left{
  float: left;
  width: 5.36rem;
  height: 1.88rem;
}
.record_left>.coupon_name{
  margin: 0.3rem 0 0 0.37rem;
  font-size: 0.34rem; 
  color:#cf7102;
}
.record_left>.coupon_code{
  margin: 0.12rem 0 0 0.37rem;
  font-size: 0.32rem; 
  color:#cf7102;
}
.record_left>.coupon_tip{
  margin: 0.15rem 0 0 0.37rem;
  font-size: 0.32rem; 
  color:#999999;
}
.record_right{
  float: right;
  width: 1.54rem;
  height: 1.88rem;
}
.record_right>.coupon_price{
  margin: 0.79rem 0 0 0.37rem;
  font-size: 0.34rem; 
  color:#cf7102;
  font-weight: bold;
}
.marginTop48{
  margin-top:0.48rem !important;
}
.marginTop30{
  margin-top:0.2rem !important;
}
#slideDown{margin-top: 0;width: 100%;} 
#slideDown1,#slideDown2{width: 100%;height: 70px;background:#ebebeb;display: none;} 
#slideDown1{height: 20px;} 
#slideDown1>p,#slideDown2>p{margin: 20px auto;text-align:center;font-size: 14px;color: #37bbf5;} 