html, body
{
    background: url("../images/bg_pattern/bg_pattern.png");
    background-size: 10px;
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
}
img {
    max-width: 100%;
    max-height: 100%;
}
#wrap
{
    margin: 0 0 10px 0;
    padding: 0;
    width: 100%;
}
#lingquModal
{
    width: 50%;
    position:absolute;
    left:29%;
    top:40%;
    margin-left:-5%;
    margin-top:-10%;
}
.bg-pic {
    margin: 0px auto;
    text-align: center;
    padding-top: 10px;
}
.img-bg {
    width: 85%;
}
.img-thing {
    width: 25%;
    margin-top: -50%;
    margin-left: 75%;
}
.lingqu-btn {
    width: 70%;
    margin: -10% auto 20px auto;
    text-align: center;
}
@-webkit-keyframes xuanzhuan{
    0%, 50%, 100%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(-10px);
    }
    75%{
        transform: translateX(10px);
    }
}
.img-button {
    opacity: 1;
    border-color: #fff;
    -webkit-animation: xuanzhuan 0.4s linear .3s infinite;
}
