html, body
{
	background: url("../images/bg@2x.png");
	margin: 0;
	padding: 0;
	height:100%;
	width: 100%;
}
img{
	max-width: 100%;
	max-height: 100%;
}
.score-div{
	text-align: center;
	width:100%;
	margin-bottom: 1%;
}
#shuoming-icon{
	width:50%;
}
#score-header
{
	width: 100%;
	position:relative;
	text-align: center;
}
#score-show-wrap {
	position: relative;
	margin-top: 28px;
}
#score-show
{
	width:40%;
	margin: 0px auto;
}
#score-query{
	margin-top: 3px;
}
#score-query img{
	width:48%;
}
#query-link {
	color: #f2e926;
	text-decoration: underline;
}
#score-text
{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	color: #e81d9d;
}
#jifen-desc{
	color: #ffffff;
	margin: 0 0 5px 0;
}
#score-text span{
	font-size: 2.1em;
	color: #e81d9d;;
}
#score-table, #liuliang-table{
	background-color: white;
	width:100%;
	margin: 0 auto;
	border-radius: 0 0 5px 5px;
}
.wrap-scroll
{
	width: 90%;
	/*overflow: scroll;*/
	margin: 0 auto;
	border-radius: 0 0 5px 5px;
}
#score-wrap {
	overflow-y: scroll;
	height:83%;
	/*-webkit-overflow-scrolling: touch;*/
}
#score-wrap::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}
#intro
{
	right:0;
	top:0;
	position: fixed;
	margin-right: 1%;
	margin-top: 1%;
	/*background: url("../images/icon_shuoming@2x.png");*/
}
#myModal
{
	width: 60%;
	position:absolute;
	left:25%;
	top:28%;
	margin-left:-5%;
	margin-top:-10%;
}
#queryModal {
	width: 60%;
	position:absolute;
	left:25%;
	top:40%;
	margin-left:-5%;
	margin-top:-10%;
}
#score-list-div, #liuliang-div
{
	height: 40%;
}

#score-list-div p{
	width:90%;
	margin: 0 auto;
	background-color: #991dce;
	color: #ffffff;
	display: block;
	border-radius: 10px 10px 0 0;
	line-height: 2.0em;
}
#liuliang-wrap
{
	/*height: 85%;*/
	width:90%;
	margin: 0 auto 2% auto;
}
.item-desc
{
	text-align: left;
	width: 80%;
	padding-left: 3%;
	padding-top: 1%;
}
.item-score
{
	text-align: center;
	width:20%;
	padding-right: 1%;
	color: #f80056;
	padding-top: 1%;
}
#liuliang-div img{
	top:0.6em;
	position: relative;
	z-index: 100;
}
#score-table-body tr, #liuliang-table tr{
	width:100%;
	line-height: 2.2em;
	border-bottom: 1px solid #ddd;
	padding-top: 1%;
}

#liuliang-table-header thead{
	background-color: rgb(255, 178, 25);
	border-radius: 10px 10px 0 0;
	color: white;
}
#liuliang-table-header
{
	width:90%;
	margin: 0 auto;
}

#liuliang-table-header th{
	text-align: center;
	line-height: 1.7em;
	padding-top: 2%;
	width: 33.3%;
	border-bottom: 1px solid #ddd !important;
}
#liuliang-table td{
	width: 33.3%;
	text-align: center;
	padding: 1.5%;
	border-bottom: 1px solid #ddd !important;
}
#red-text {
	color: #e62850;
}
#yellow-text {
	color: #f67827;;
}




