<div class="content-wrap">
    <div class="content">
        <div class="diy-ad" v-if="diyad">
            <img :src="diyad" alt="萌萌的广告君">
        </div>
        <div v-for="a in articles" class="diy-article-wrap clearfix bd">
            <div class="diy-article-author bd">
                <img class="black-border" :src="picUrlParser(a.avatar)" alt="头像">
            </div>
            <div class="diy-article-content bd">
                <div class="diy-article-msg bd">
                    <div class="diy-article-name bd">name</div>
                    <div class="diy-article-time bd">time</div>
                </div>
                <div class="diy-article-text bd">text</div>
                <div class="diy-article-pic-wrap bd">pciwrap</div>
                <div class="diy-article-favs bd">fav</div>
            </div>
        </div>
    </div>
</div>