<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>美丫后台管理</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- <script type="text/javascript" src="node_modules/requirejs/require.js" data-main="index"></script> -->
</head>
<body>
    后台管理
</body>
</html>