<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>美丫后台管理</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/admin.css">
    <link rel="stylesheet" type="text/css" href="node_modules/webuploader/dist/webuploader.css">
    <!-- <link rel="stylesheet" href="node_modules/jquery-ui-dist/jquery-ui.min.css"> -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="javascripts/admin.js"></script>
    <script src="javascripts/upload.js"></script>
    <script src="node_modules/webuploader/dist/webuploader.min.js"></script>
</head>
<body>

    <!-- 导航栏开始 -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">美丫后台管理系统</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">网站数据分析</a></li>
                <li><a href="#">九图管理</a></li>
                <li><a href="#">野表情管理</a></li>
                <li><a href="#">萌宠表情管理</a></li>
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Java <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">jmeter</a></li>
                        <li><a href="#">EJB</a></li>
                        <li><a href="#">Jasper Report</a></li>
                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="#">另一个分离的链接</a></li>
                    </ul>
                </li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right"> 
                <li><a href="javascript:;"><span class="glyphicon glyphicon-user"></span> <%= user %></a></li> 
                <li><a href="javascript:;" @click="logout"><span class="glyphicon glyphicon-log-out"></span> 注销</a></li> 
            </ul> 
        </div>
        </div>
    </nav>
    <!-- 导航栏结束 -->
<div class="container">
    <!-- 网站数据分析开始 -->
    <!-- <form class="form-horizontal" role="form" v-if="view=='dataAnalysis'">
        
    </form> -->
    <!-- 网站数据分析结束 -->

    <!-- 九图管理开始 -->
    <form class="form-horizontal" role="form">

        <!-- 提醒现在是管理的哪个版块 -->
        <div class="form-group">
            <label for="nie_board" class="col-sm-2 control-label">当前管理版块</label>
            <div class="col-sm-6">
                <input id="nine_board" type="text" class="form-control" value="九图表情" disabled>
            </div>
        </div>

        <!-- 作者 -->
        <div class="form-group">
            <label for="nine_author" class="col-sm-2 control-label">作者</label>
            <div class="col-sm-6">
                <input id="nine_author" type="text" class="form-control" v-model="nine_author">
            </div>
        </div>

        <!-- 作者链接 -->
        <div class="form-group">
            <label for="nine_author_link" class="col-sm-2 control-label">作者链接</label>
            <div class="col-sm-6">
                <input id="nine_author_link" type="text" class="form-control" v-model="nine_author_link">
            </div>
        </div>

        <!-- 作者头像 -->
        <div class="form-group">
            <label for="nine_avatar" class="col-sm-2 control-label">作者头像</label>
            <div class="col-sm-6">
                <input id="nine_avatar" type="file" class="form-control" v-model="nine_avatar">
                <img :src="picUrlParser(nine_avatar_pid)" v-if="nine_avatar_pid">
            </div>
        </div>

        <!-- 类型 -->
        <div class="form-group">
            <label for="nine_original" class="col-sm-2 control-label">类型</label>
            <div class="col-sm-6">
                <select id="nine_original" class="form-control" v-model="nine_original">
                    <option value="">请选择</option>
                    <option v-for="type in nine_original_options" :value="type.value">{{type.name}}</option>
                </select>
            </div>
        </div>

        <!-- 配文 -->
        <div class="form-group">
            <label for="nine_description" class="col-sm-2 control-label">配文</label>
            <div class="col-sm-6">
                <textarea class="form-control" name="nine_description" id="nine_description" rows="5" v-model='nine_description'></textarea>
            </div>
        </div>

        <!-- 上传图片 -->
        <div class="form-group">
            <label for="container" class="col-sm-2 control-label">图片</label>
            <div class="col-sm-6">
                <div id="container">
                    <div id="uploader">
                        <div class="queueList">
                            <div id="dndArea" class="placeholder">
                                <div id="filePicker"></div>
                                <p>或将照片拖到这里</p>
                            </div>
                        </div>
                        <div class="statusBar" style="display:none;">
                            <div class="progress">
                                <span class="text">0%</span>
                                <span class="percentage"></span>
                            </div><div class="info"></div>
                            <div class="btns">
                                <div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default" @click.prevent="nineSubmit">提交</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>