<div class="mcenter-wrap" v-if="mcenterShow" keep-alive>
    <div class="mcenter-header">
        {{name}}
        <span class="mcenter-close" @click="mcenterShow=false">&times;</span>
    </div>
    <div class="mcenter-content-wrap">
        <div class="mcenter-content">
            <div v-for="m in messages" class="mcenter-message" :class="'mcenter-message-' + m.type">
                <div class="mcenter-message-header">
                    {{getLocalTime(m.time)}}
                    <span class="mcenter-message-close" @click="removeMessage($index)">&times;</span>
                </div>
                <div class="mcentrt-message-centent">
                    {{m.text}}
                </div>
            </div>
        </div>
    </div>
</div>