/* css reset */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  width: 100%;
  font-family: "Monospaced Number","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
a {
  color: #2d374b;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
p {
  word-wrap: break-word;
}

/* common */
.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  transition: background-color .15s;
}
.page-wrap {
  overflow-x: hidden;
  width: 100%;
}
.page {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.flex-wrap {
  display: flex;
  justify-content: space-around;
}
.text-center {
  text-align: center;
}
.page-title {
  margin-top: 125px;
  font-weight: 700;
  color: #323852;
  font-size: 38px;
  text-align: center;
}
.page-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  color: #333;
  font-size: 16px;
}
.page-table tr th {
  height: 80px;
  background-color: #DAE1FF;
}
.page-table tr td {
  height: 90px;
  background-color: #F2F3F7;
  padding: 0 25px;
}

/* header */
#header-wrap {
  height: 880px;
  overflow-y: hidden;
  position: relative;
}
#header-bg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#header-navs {
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}
#login-wrap {
  float: right;
}
#login-btn {
  width: 70px;
  height: 30px;
  line-height: 30px;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 30px;
}
#login-btn:hover {
  background-color: rgba(255, 255, 255, .2);
}

#slogon {
  margin-top: 140px;
  color: #fff;
}
#slogon-title {
  font-size: 44px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, .15) 0 7px 20px;
}
#slogon-desc {
  font-size: 26px;
  margin-top: 20px;
  opacity: .8;
}
#try-btn {
  margin-top: 40px;
  width: 170px;
  height: 50px;
  border-radius: 50px;
  line-height: 50px;
  font-size: 24px;
  background-color: #EF5A2A;
  box-shadow: rgba(91, 23, 2, .4) 0 8px 6px;
}
#try-btn:hover {
  background-color: #FF865F;
}
#header-chart {
  position: absolute;
  top: 300px;
  left: 45%;
}

/* page-1 */
#page-1 .page {
  margin-bottom: 180px;
}
.page-1-question {
  display: inline-block;
  width: 167px;
  margin-top: 67px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  font-size: 20px;
  background-color: rgba(239, 90, 42, .2);
  color: #EF5A2A;
  text-align: center;
}
.page-1-title {
  margin-top: 30px;
  font-size: 36px;
  color: #323852;
  font-weight: 700;
}
.page-1-flex {
  max-width: 595px;
}
ul.page-1-ul {
  margin-top: 70px;
}
ul.page-1-ul li {
  position: relative;
  margin-bottom: 20px;
  font-size: 15px;
  color: #636E9E;
  padding-left: 20px;
}
ul.page-1-ul li::before {
  position: absolute;
  left: 0;
  top: 7px;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #2F50DB;
}

/* page-2 */
#page-2 {
  height: 1050px;
  background-color: #F2F2F4;
}
.page-2-flex {
  width: 280px;
}
#page-2-flex-wrap-1 {
  margin-top: 90px;
  justify-content: space-between;
}
#page-2-flex-wrap-2 {
  margin-top: 130px;
  margin-bottom: 100px;
}
.page-2-card-title {
  margin-top: 20px;
  color: #323852;
  font-size: 20px;
  height: 28px;
  line-height: 28px;
  font-weight: 500;
}
.page-2-card-content {
  margin-top: 25px;
  color: #636E9E;
  font-size: 16px;
}

/* page-3 */
#page-3 {
  position: relative;
  height: 1283px;
  margin-top: -200px;
  background: url(../img/page-3-bg.jpg) no-repeat top center;
}
#page-3-title {
  height: 48px;
  line-height: 48px;
  margin-top: 230px;
  letter-spacing: 10px;
  color: #FFF;
}
#page-3-title img {
  margin-right: 20px;
}
#page-3-desc {
  margin-top: 30px;
  height: 28px;
  line-height: 28px;
  font-size: 20px;
  text-align: center;
  color: #FFF;
  opacity: .7;
}
#page-3-flex-wrap {
  margin-top: 75px;
  position: relative;
}
#page-3-flex-wrap label {
  width: 160px;
  color: #fff;
  font-size: 20px;
  height: 28px;
  cursor: pointer;
}
#page-3-flex-wrap label input {
  display: none;
}
#page-3-flex-wrap label input a.active {
  opacity: 1;
}
#page-3-flex-wrap label img {
  margin-right: 10px;
  opacity: .3;
}
#page-3-flex-wrap label span {
  opacity: .3;
}
#page-3-chart {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
#page-3-flex-wrap label .page-3-mac-pic {
  margin-right: 0px;
  z-index: 1;
  position: absolute;
  display: none;
  top: 146px;
  left: 50%;
  transform: translateX(-50%);
}
#page-3-flex-wrap label input:checked~img,
#page-3-flex-wrap label input:checked~span {
  opacity: 1;
}
#page-3-flex-wrap label input:checked~.page-3-mac-pic {
  display: block;
}
#page-3-net {
  position: absolute;
  left: 50%;
  top: 280px;
  transform: translateX(-50%);
}
#page-3-canvas {
  top: 30px;
  position: absolute;
}

/* page-4 */
#page-4-title {
  margin-top: 10px;
}
#page-4-table-wrap {
  position: relative;
}
#page-4-table {
  margin-top: 100px;
  margin-bottom: 170px;
}
#page-4-table tr:nth-child(2n) td {
  background-color: #FBFCFD;
}
#page-4-table-box {
  margin-top: -15px;
  height: 765px;
  position: absolute;
  width: 50%;
  margin-left: 15%;
  text-align: center;
  border: 1px solid #3356E6;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.20);
}
#page-4-table-box p {
  height: 95px;
  font-size: 26px;
  line-height: 95px;
  background: #3356E6;
  box-shadow: 0 12px 24px 0 rgba(0,45,231,0.25);
  color: #FFF;
}
.page-4-img {
  position: absolute;
}
#page-4-1 {
  top: 386px;
  left: -26px;
}
#page-4-2 {
  top: 760px;
  left: -69px;
}
#page-4-3 {
  top: 100px;
  left: 98%;
}
#page-4-4 {
  top: 438px;
  left: 110%;
}
#page-4-5 {
  top: 678px;
  left: 96%;
}

/* page-5 */
#page-5 {
  background-color: #F2F2F4;
}
#page-5-title {
  margin-top: 125px;
}
#page-5-flex-wrap {
  margin-top: 90px;
}
.page-5-flex {
  position: relative;
  top: 0;
  width: 360px;
  background-color: #fff;
  color: #333;
  text-align: center;
  border-radius: 9px;
  transition: all .5s;
}
.page-5-flex:hover {
  position: relative;
  top: -20px;
}
#page-5-card-1.page-5-flex:hover {
  box-shadow: rgba(0, 0, 0, .1) 0 21px 40px;
}
#page-5-card-2.page-5-flex:hover {
  box-shadow: rgba(0, 46, 172, .3) 0 21px 40px;
}
#page-5-card-3.page-5-flex:hover {
  box-shadow: rgba(255, 117, 73, .3) 0 21px 40px;
}
.page-5-card-title {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  display: inline-block;
  text-shadow: #CFCFCF 0 6px 6px;
}
ul.page-5-ul {
  margin: 0 auto;
  margin-top: 55px;
  height: 208px;
  width: 270px;
  text-align: left;
}
ul.page-5-ul li {
  position: relative;
  line-height: 40px;
  font-size: 15px;
  color: #444;
  padding-left: 20px;
}
ul.page-5-ul li::before {
  position: absolute;
  left: 0;
  top: 16px;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #444;
}
.page-5-card-cost {
  margin: 0 auto;
  width: 90%;
  height: 95px;
  line-height: 95px;
  border-top: 1px dashed rgba(153, 153, 153, .5);
  text-align: right;
  font-size: 15px;
  color: rgba(51, 51, 51, .7);
}
.page-5-card-cost span {
  color: #333;
  font-size: 40px;
}
#page-5-desc {
  margin-top: 80px;
  margin-bottom: 60px;
  display: inline-block;
  font-size: 13px;
  color: #AAA;
}
#page-5-card-2 {
  background-color: #1567D2;
}
#page-5-card-3 {
  background-color: #FF7549;
}
.page-5-card-white {
  color: #FFF;
}
.page-5-card-white .page-5-card-title {
  text-shadow: #004E86 0 6px 6px;
}
.page-5-card-white .page-5-card-cost {
  border-top-color: rgba(255, 255, 255, .5)
}
.page-5-card-white ul.page-5-ul li,
.page-5-card-white .page-5-card-cost,
.page-5-card-white .page-5-card-cost span {
  color: #FFF;
}
.page-5-card-white ul.page-5-ul li::before {
  background-color: #FFF;
}

/* page-6 */
#page-6-desc {
  margin-top: 40px;
  opacity: 0.7;
  font-size: 20px;
  color: #323852;
  letter-spacing: 3px;
}
#page-6-table {
  margin-top: 65px;
  margin-bottom: 120px;
}
#page-6-table tr {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(0, 0, 0, .1);
}
#page-6-table tr:first-child,
#page-6-table tr:nth-child(2),
#page-6-table tr:last-child {
  border: none;
}
#page-6-p-wrap {
  border-left: 1px solid rgba(0, 0, 0, .1);
}
.page-6-table-p {
  font-size: 15px;
  position: relative;
  padding-left: 20px;
  text-align: left;
}
.page-6-table-p::before {
  position: absolute;
  left: 0;
  top: 7px;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #333;
}
.page-6-table-p + p {
  margin-top: 40px;
}

/* footer */
#footer-wrap {
  background-color: #00255A;
  color: #fff;
}
#footer-title {
  color: #fff;
}
.footer-card-key {
  font-size: 18px;
  color: #375BF3;
}
.footer-card-value {
  font-size: 18px;
}
#footer-flex-wrap {
  margin-top: 90px;
  align-items: center;
}
#footer-qrcode-wrap {
  width: 160px;
  height: 160px;
  border: 2px solid #375BF3;
  border-radius: 6px;
  position: relative;
}
#footer-qrcode {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#footer-copyright-wrap {
  margin-top: 170px;
  margin-bottom: 60px;
}
#footer-copyright {
  opacity: 0.2;
  font-size: 14px;
  color: #FFFFFF;
}

/* animate */
/* header background elements */
/* @keyframes run-1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes run-2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes run-3 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes run-4 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.move-1 {
  animation: run-1 6s infinite;
}
.move-2 {
  animation: run-2 6s infinite;
}
.move-3 {
  animation: run-3 6s infinite;
}
.move-4 {
  animation: run-4 6s infinite;
} */

/* header-chart */
#header-chart,
#header-chart #Path-5-Copy-2 {
  transition: all .5s linear;
}
#header-chart:hover {
  top: 290px;
}
#header-chart:hover #Path-5-Copy-2 {
  transform: translate(2.5% ,10px) scaleX(.95);
}

#header-chart #Group-24 * {
  transition: all .5s linear;
}
#header-chart:hover #Group-23-Copy {
  transform: translate(0.428298px, 0.571076px);
}
#header-chart:hover #Group-23-Copy #Path-8 {
  d: path('M28.4601887 0.524025113 0.517342114 15.3735949 33.8010981 28.423027 62.5199957 13.4838888');
}
#header-chart:hover #Group-23-Copy #Path-8-Copy-2 {
  d: path('M61.7439447 137.738173 33.8010981 152.587743 33.8010981 28.413691 62.4962611 13.5057641');
}
#header-chart:hover #Group-23-Copy #Path-8-Copy {
  d: path('M0.517342114 139.673766 0.517342114 15.3595755 33.8010981 28.426012 33.8010981 152.568906');
}

#header-chart:hover #Group-23 {
  transform: translate(58.000000px, 66.000000px);
}
#header-chart:hover #Group-23 #Path-8 {
  d: path('M28.4601887 0.656194283 0.517342114 15.505764 33.8010981 28.5551961 62.5199957 13.616058');
}
#header-chart:hover #Group-23 #Path-8-Copy-2 {
  d: path('M61.7439447 95.7381731 33.8010981 110.587743 33.8010981 28.5635644 62.4957007 13.6173119');
}
#header-chart:hover #Group-23 #Path-8-Copy {
  d: path('M0.517342114 97.6676294 0.517342114 15.5230951 33.8010981 28.5600403 33.8010981 110.568906');
}

#header-chart:hover #Group-23-Copy-2 {
  transform: translate(118.000000px, 94.000000px);
}
#header-chart:hover #Group-23-Copy-2 #Path-8 {
  d: path('M28.4601887 0.15380608 0.517342114 15.0033758 33.8010981 28.0528079 62.5199957 13.1136697');
}
#header-chart:hover #Group-23-Copy-2 #Path-8-Copy-2 {
  d: path('M62.5199957 92.5931226 33.8010981 107.587743 33.8010981 28.0818916 62.5199957 13.1038358');
}
#header-chart:hover #Group-23-Copy-2 #Path-8-Copy {
  d: path('M0.517342114 94.3734415 0.517342114 15.0269657 33.8010981 28.0478362 33.8010981 107.568906');
}

#header-chart:hover #Group-23-Copy-3 {
  transform: translate(177.000000px, 99.000000px);
}
#header-chart:hover #Group-23-Copy-3 #Path-8 {
  d: path('M28.4601887 0.59935871 0.517342114 15.4489285 33.8010981 28.4983606 62.5199957 13.5592224');
}
#header-chart:hover #Group-23-Copy-3 #Path-8-Copy-2 {
  d: path('M62.5199957 111.197983 33.8010981 126.587743 33.8010981 28.5001531 62.5199957 13.5322731');
}
#header-chart:hover #Group-23-Copy-3 #Path-8-Copy {
  d: path('M0.517342114 113.534002 0.517342114 15.4506281 33.8010981 28.5178559 33.8010981 126.568906');
}

/* paga-1-1 */
@keyframes page-1-1 {
  0% {
    transform: translate(154.837310px, 57.644342px);
  }
  50% {
    transform: translate(181.837310px, 57.644342px);
  }
  100% {
    transform: translate(154.837310px, 57.644342px);
  }
}
@keyframes page-1-2 {
  0% {
    transform: translate(299.006211px, 60.315545px);
  }
  50% {
    transform: translate(269.006211px, 60.315545px);
  }
  100% {
    transform: translate(299.006211px, 60.315545px);
  }
}
@keyframes page-1-3 {
  0% {
    transform: translate(53.076305px, 0.000000px);
  }
  50% {
    transform: translate(53.076305px, -20.000000px);
  }
  100% {
    transform: translate(53.076305px, 0.000000px);
  }
}
@keyframes page-1-4-1 {
  0% {
    transform: translate(294.536101px, 123.247104px);
  }
  50% {
    transform: translate(294.536101px, 170.247104px);
  }
  100% {
    transform: translate(294.536101px, 123.247104px);
  }
}
@keyframes page-1-4-2 {
  0% {
    d: path("M0.815932125 5.3976834 11.4550166 11.7546686 11.4550166 111.083647 0.815932125 104.286553");
  }
  50% {
    d: path("M0.815932125 5.38931596 11.4550166 11.6818859 11.4550166 64.0836466 0.815932125 57.2865533");
  }
  100% {
    d: path("M0.815932125 5.3976834 11.4550166 11.7546686 11.4550166 111.083647 0.815932125 104.286553");
  }
}
@keyframes page-1-4-3 {
  0% {
    d: path("M23.7696789 7.50766831 11.4550166 11.7546686 11.4550166 111.083647 23.7696789 106.396538");
  }
  50% {
    d: path("M23.7696789 7.58311231 11.4550166 11.7385865 11.4550166 64.0836466 23.7696789 59.3965383");
  }
  100% {
    d: path("M23.7696789 7.50766831 11.4550166 11.7546686 11.4550166 111.083647 23.7696789 106.396538");
  }
}
@keyframes page-1-4-4 {
  0% {
    d: path("M0.815932125 5.3976834 11.4550166 11.7546686 23.7793679 7.51647637 13.1402834 0.719383145");
  }
  50% {
    d: path("M0.815932125 5.3976834 11.4550166 11.7546686 23.7793679 7.51647637 13.1402834 0.719383145");
  }
  100% {
    d: path("M0.815932125 5.3976834 11.4550166 11.7546686 23.7793679 7.51647637 13.1402834 0.719383145");
  }
}
@keyframes page-1-4-5 {
  0% {
    transform: translate(321.557762px, 185.320463px);
  }
  50% {
    transform: translate(321.557762px, 154.320463px);
  }
  100% {
    transform: translate(321.557762px, 185.320463px);
  }
}
@keyframes page-1-4-6 {
  0% {
    d: path("M0 4.4980695 9.79985196 11.6536979 9.79985196 66.0019809 0 58.4062445");
  }
  50% {
    d: path("M0 4.4980695 9.79985196 11.6536979 9.79985196 97.0019809 0 89.4062445");
  }
  100% {
    d: path("M0 4.4980695 9.79985196 11.6536979 9.79985196 66.0019809 0 58.4062445");
  }
}
@keyframes page-1-4-7 {
  0% {
    d: path("M21.6645781 7.22956475 9.80459987 11.6628439 9.80459987 66.0111269 21.6645781 61.1377397");
  }
  50% {
    d: path("M21.6645781 7.22956475 9.80459987 11.6628439 9.80459987 97.0111269 21.6645781 92.1377397");
  }
  100% {
    d: path("M21.6645781 7.22956475 9.80459987 11.6628439 9.80459987 66.0111269 21.6645781 61.1377397");
  }
}
@keyframes page-1-4-8 {
  0% {
    d: path("M0 4.67830025 9.86982134 11.7561234 21.7207198 7.22411854 12.3243513 0");
  }
  50% {
    d: path("M0.0236732227 4.54682624 9.86982134 11.7561234 21.7207198 7.22411854 12.3243513 0");
  }
  100% {
    d: path("M0 4.67830025 9.86982134 11.7561234 21.7207198 7.22411854 12.3243513 0");
  }
}
svg {
  overflow: visible;
}
#page-1-1:hover #Group-8 {
  animation: page-1-1 2s infinite;
}
#page-1-2:hover #Group-44 {
  animation: page-1-2 2s infinite;
}
#page-1-3:hover #page-1-3-Group-34 {
  animation: page-1-3 2s infinite;
}
#page-1-4:hover #page-1-4-Group-39 {
  animation: page-1-4-1 2s infinite;
}
#page-1-4:hover #page-1-4-Group-39 #page-1-4-Rectangle-22-Copy-4 {
  animation: page-1-4-2 2s infinite;
}
#page-1-4:hover #page-1-4-Group-39 #page-1-4-Rectangle-22-Copy-6 {
  animation: page-1-4-3 2s infinite;
}
#page-1-4:hover #page-1-4-Group-39 #page-1-4-Rectangle-22-Copy-5 {
  animation: page-1-4-4 2s infinite;
}
#page-1-4:hover #page-1-4-Group-39-Copy {
  animation: page-1-4-5 2s infinite;
}
#page-1-4:hover #page-1-4-Group-39-Copy #page-1-4-Rectangle-22-Copy-4 {
  animation: page-1-4-6 2s infinite;
}
#page-1-4:hover #page-1-4-Group-39-Copy #page-1-4-Rectangle-22-Copy-6 {
  animation: page-1-4-7 2s infinite;
}
#page-1-4:hover #page-1-4-Group-39-Copy #page-1-4-Rectangle-22-Copy-5 {
  animation: page-1-4-8 2s infinite;
}


/* 适配窄屏 */
@media screen and (max-width: 1200px) {
  .page {
    max-width: 1000px;
  }
  #header-chart {
    left: 300px;
  }
  .page-5-flex {
    width: 300px;
  }
}