/* css reset */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  width: 100%;
  font-family: "Monospaced Number","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
a {
  color: #2d374b;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
p {
  word-wrap: break-word;
}
@font-face {
  font-family: DINProBold;
  src: url('./DINPro-Bold.otf');
}

/* common */
.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  transition: background-color .15s;
}
.page-wrap {
  overflow-x: hidden;
  width: 100%;
}
.page {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.flex-wrap {
  display: flex;
  justify-content: space-around;
}
.text-center {
  text-align: center;
}
.page-title {
  margin-top: 125px;
  font-weight: 700;
  color: #323852;
  font-size: 38px;
  height: 53px;
  line-height: 53px;
  text-align: center;
}
.page-title-desc {
  text-align: center;
  margin-top: 40px;
  opacity: 0.7;
  font-size: 20px;
  color: #323852;
  letter-spacing: 3px;
}
.page-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  color: #333;
  font-size: 16px;
}
.page-table tr th {
  height: 80px;
  background-color: #DAE1FF;
}
.page-table tr td {
  height: 90px;
  background-color: #F2F3F7;
  padding: 0 25px;
}

/* header */
#header-wrap {
  height: 880px;
  overflow-y: hidden;
  position: relative;
}
#header-bg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#header-navs {
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}
#login-wrap {
  float: right;
}
#login-btn {
  width: 70px;
  height: 30px;
  line-height: 30px;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 30px;
}
#login-btn:hover {
  background-color: rgba(255, 255, 255, .2);
}

#slogon {
  margin-top: 140px;
  color: #fff;
}
#slogon-title {
  font-size: 44px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, .15) 0 7px 20px;
}
#slogon-desc {
  font-size: 26px;
  margin-top: 20px;
  opacity: .8;
}
#try-btn {
  margin-top: 40px;
  width: 170px;
  height: 50px;
  border-radius: 50px;
  line-height: 50px;
  font-size: 24px;
  background-color: #EF5A2A;
  box-shadow: rgba(91, 23, 2, .4) 0 8px 6px;
}
#try-btn:hover {
  background-color: #FF865F;
}
#header-chart {
  position: absolute;
  top: 300px;
  left: 45%;
}

/* page-1 */
#page-1 .page {
  margin-bottom: 180px;
}
.page-1-question {
  display: inline-block;
  width: 167px;
  margin-top: 67px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  font-size: 20px;
  background-color: rgba(239, 90, 42, .2);
  color: #EF5A2A;
  text-align: center;
}
.page-1-title {
  margin-top: 30px;
  font-size: 36px;
  color: #323852;
  font-weight: 700;
}
.page-1-flex {
  max-width: 595px;
}
ul.page-1-ul {
  margin-top: 70px;
}
ul.page-1-ul li {
  position: relative;
  margin-bottom: 20px;
  font-size: 15px;
  color: #636E9E;
  padding-left: 20px;
}
ul.page-1-ul li::before {
  position: absolute;
  left: 0;
  top: 7px;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #2F50DB;
}

/* page-2 */
#page-2 {
  height: 1050px;
  background-color: #F2F2F4;
}
.page-2-flex {
  width: 280px;
}
#page-2-flex-wrap-1 {
  margin-top: 90px;
  justify-content: space-between;
}
#page-2-flex-wrap-2 {
  margin-top: 130px;
  margin-bottom: 100px;
}
.page-2-card-title {
  margin-top: 20px;
  color: #323852;
  font-size: 20px;
  height: 28px;
  line-height: 28px;
  font-weight: 500;
}
.page-2-card-content {
  margin-top: 25px;
  color: #636E9E;
  font-size: 16px;
}

/* page-3 */
#page-3 {
  position: relative;
  height: 1283px;
  margin-top: -200px;
  background: url(../img/page-3-bg.jpg) no-repeat top center;
}
#page-3-title {
  height: 48px;
  line-height: 48px;
  margin-top: 230px;
  letter-spacing: 10px;
  color: #FFF;
}
#page-3-title img {
  margin-right: 20px;
}
#page-3-desc {
  color: #FFF;
}
#page-3-flex-wrap {
  margin-top: 75px;
  position: relative;
}
#page-3-flex-wrap label {
  width: 165px;
  color: #fff;
  font-size: 20px;
  height: 28px;
  cursor: pointer;
}
#page-3-flex-wrap label input {
  display: none;
}
#page-3-flex-wrap label input a.active {
  opacity: 1;
}
#page-3-flex-wrap label img {
  margin-right: 10px;
  opacity: .3;
}
#page-3-flex-wrap label span {
  opacity: .3;
}
#page-3-chart {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
#page-3-flex-wrap label .page-3-mac-pic {
  margin-right: 0px;
  z-index: 1;
  position: absolute;
  display: none;
  top: 146px;
  left: 50%;
  transform: translateX(-50%);
}
#page-3-flex-wrap label input:checked~img,
#page-3-flex-wrap label input:checked~span {
  opacity: 1;
}
#page-3-flex-wrap label input:checked~.page-3-mac-pic {
  display: block;
}
#page-3-net {
  position: absolute;
  left: 50%;
  top: 270px;
  transform: translateX(-50%);
}
#page-3-canvas {
  top: 30px;
  position: absolute;
}

/* page-7 */
#page-7 {
  background: url(../img/page-7-bg-1.jpg) no-repeat bottom center;
}
#page-7-title {
  margin-top: 10px;
}
#page-7-1 {
  position: relative;
  width: 960px;
  height: 545px;
  background: #FFF;
  margin-top: 100px;
  margin-bottom: 135px;
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.15);
}
#page-7-1::after {
  content: "";
  position: absolute;
  bottom: -108px;
  right: -110px;
  width: 139px;
  height: 244px;
  background: url(../img/page-7-bg-2.png) no-repeat bottom center;
}
#page-7-ul {
  padding-top: 40px;
}
#page-7-ul li {
  transition: all .3s linear;
  width: 150px;
  height: 66px;
  opacity: .1;
  background: #000;
  color: #FFF;
}
#page-7-ul li.active {
  opacity: 1;
}
#page-7-ul li .page-7-card {
  display: none;
  background-color: #000;
  position: absolute;
  left: 220px;
  top: 50%;
  transform: translateY(-50%);
}
#page-7-ul li.active .page-7-card {
  display: block;
}
#page-7-ul .page-7-step {
  padding-top: 12px;
  margin-left: 20px;
  font-size: 12px;
  line-height: 12px;
}
.page-7-card-info {
  cursor: pointer;
}
#page-7-ul .page-7-step-title {
  margin-top: 10px;
  margin-left: 20px;
  line-height: 20px;
  font-size: 20px;
}
#page-7-ul li .page-7-card {
  background-color: #fff;
  color: #000;
}
/* #page-7-card-1 {
} */
.page-7-card-1-raw {
  margin-top: 30px;
}
.page-7-card-1-raw:first-child {
  margin-top: 0px;
}
.page-7-card-1-box {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 30px;
  box-sizing: border-box;
  padding: 20px;
  width: 330px;
  height: 125px;
  border: #ccc solid 1px;
}
.page-7-card-1-box-title {
  font-size: 16px;
  height: 25px;
  line-height: 25px;
  font-weight: 700;
}
.page-7-card-1-box-desc {
  position: absolute;
  bottom: 15px;
  font-size: 12px;
  margin-top: 10px;
  color: #ccc;
  width: 288px;
}
.page-7-card-1-box-tip {
  color: #FD9426;
  font-size: 12px;
}
.page-7-card-1-box-btn {
  float: right;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  width: 60px;
  height: 25px;
  border-radius: 2px;
  color: #FFF;
  background-color: #2592FC;
}
.page-7-card-1-d1::after {
  content: "";
  position: absolute;
  right: -1px;
  top: 50%;
  width: 30px;
  height: 30px;
  background: url(../img/page-7-line-1.svg) no-repeat top center;
  transform: translate(100%, -50%) rotate(270deg);
}
.page-7-card-1-d2::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 30px;
  height: 30px;
  background: url(../img/page-7-line-1.svg) no-repeat top center;
  transform: translate(-50%, 100%);
}
.page-7-card-1-d3::after {
  content: "";
  position: absolute;
  left: -1px;
  top: 50%;
  width: 30px;
  height: 30px;
  background: url(../img/page-7-line-1.svg) no-repeat top center;
  transform: translate(-100%, -50%) rotate(90deg);
}
#page-7-card-1-3 .page-7-card-1-box-btn {
  background-color: #ccc;
}
#page-7-card-1-4 {
  border: 1px solid #FD9426;
  background-color: #FCF1E8;
}
#page-7-card-1-4 .page-7-card-1-box-btn {
  background-color: #FD9426;
}
.page-7-card-box {
  position: absolute;
  box-sizing: border-box;
  padding: 15px;
  width: 180px;
  height: 100px;
}
.page-7-card-box-yellow {
  background: rgba(255,149,0,0.10);
  border: 1px solid #FF9500;
}
.page-7-card-box-gray {
  background: #F3F3F3;
  border: 1px solid #DDDDDD;
}
.page-7-card-box-red {
  background: rgba(254,59,47,0.10);
  border: 1px solid #FE3B2F;
}
.page-7-card-box-red::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 36px;
  height: 36px;
  background: url(../img/page-7-card-box-red-alarm.svg) no-repeat top center;
}
.page-7-card-box-title {
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  letter-spacing: 0.24px;
  position: relative;
}
.page-7-card-box-title::after {
  content: "";
  position: absolute;
  right: 0;
  width: 18px;
  height: 18px;
  background: url(../img/page-7-card-icon.svg) no-repeat top center;
}
.page-7-card-box-desc {
  position: absolute;
  bottom: 10px;
  font-family: "DINProBold";
  font-size: 24px;
  color: #333;
  letter-spacing: 0.35px;
}
.page-7-card-box-desc span {
  font-size: 14px;
  color: #888;
  letter-spacing: 0.21px;
  margin-left: 3px;
}
.page-7-card-2-d1::after {
  content: "";
  position: absolute;
  right: -1px;
  top: 56%;
  width: 80px;
  height: 152px;
  background: url(../img/page-7-line-2.svg) no-repeat top center;
  transform: translate(100%, -100%);
}
.page-7-card-2-d2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 12px;
  height: 40px;
  background: url(../img/page-7-line-3.svg) no-repeat top center;
  transform: translate(-50%, 100%);
}
#page-7-card-2 {
  width: 700px;
  height: 240px;
}
#page-7-card-2-1 {
  bottom: 0;
  left: 0;
}
#page-7-card-2-2 {
  top: 0;
  left: 260px;
}
#page-7-card-2-3 {
  bottom: 0;
  left: 260px;
}
#page-7-card-2-4 {
  top: 0;
  left: 520px;
}
#page-7-card-2-5 {
  bottom: 0;
  left: 520px;
}
#page-7-card-3 {
  width: 700px;
  height: 380px;
}
#page-7-card-3-1 {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#page-7-card-3-2 {
  left: 260px;
  top: 0;
}
#page-7-card-3-3 {
  left: 260px;
  top: 50%;
  transform: translateY(-50%);
}
#page-7-card-3-4 {
  left: 260px;
  bottom: 0;
}
#page-7-card-3-5 {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#page-7-card-3-6 {
  right: 0;
  bottom: 0;
}
.page-7-card-3-d1::after {
  content: "";
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translate(100%, -50%);
  width: 80px;
  height: 292px;
  background: url(../img/page-7-line-4.svg) no-repeat top center;
  transform: translate(100%, -50%);
}
.page-7-card-3-d2::after {
  content: "";
  position: absolute;
  right: -1px;
  top: 50%;
  width: 81px;
  height: 12px;
  background: url(../img/page-7-line-5.svg) no-repeat top center;
  transform: translate(100%, -50%);
}
.page-7-card-3-d3::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 12px;
  height: 40px;
  background: url(../img/page-7-line-6.svg) no-repeat top center;
  transform: translate(-50%, 100%);
}
#page-7-card-4 {
  width: 440px;
  height: 240px;
}
#page-7-card-4-1 {
  bottom: 0;
  left: 0;
}
#page-7-card-4-2 {
  top: 0;
  right: 0;
}
#page-7-card-4-3 {
  bottom: 0;
  right: 0;
}
#page-7-card-4-1::after {
  content: "";
  position: absolute;
  right: -1px;
  top: -95px;
  width: 80px;
  height: 152px;
  background: url(../img/page-7-line-7.svg) no-repeat top center;
  transform: translateX(100%);
}

/* page-5 */
#page-5 {
  background-color: #F2F2F4;
}
#page-5-title {
  margin-top: 125px;
}
#page-5-flex-wrap {
  margin-top: 90px;
}
.page-5-flex {
  position: relative;
  top: 0;
  width: 360px;
  background-color: #fff;
  color: #333;
  text-align: center;
  border-radius: 9px;
  transition: all .5s;
}
.page-5-flex:hover {
  position: relative;
  top: -20px;
}
#page-5-card-1.page-5-flex:hover {
  box-shadow: rgba(0, 0, 0, .1) 0 21px 40px;
}
#page-5-card-2.page-5-flex:hover {
  box-shadow: rgba(0, 46, 172, .3) 0 21px 40px;
}
#page-5-card-3.page-5-flex:hover {
  box-shadow: rgba(255, 117, 73, .3) 0 21px 40px;
}
.page-5-card-title {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  display: inline-block;
  text-shadow: #CFCFCF 0 6px 6px;
}
ul.page-5-ul {
  margin: 0 auto;
  margin-top: 55px;
  height: 208px;
  width: 270px;
  text-align: left;
}
ul.page-5-ul li {
  position: relative;
  line-height: 40px;
  font-size: 15px;
  color: #444;
  padding-left: 20px;
}
ul.page-5-ul li::before {
  position: absolute;
  left: 0;
  top: 16px;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #444;
}
.page-5-card-cost {
  margin: 0 auto;
  width: 90%;
  height: 95px;
  line-height: 95px;
  font-family: "DINProBold";
  border-top: 1px dashed rgba(153, 153, 153, .5);
  text-align: right;
  font-size: 15px;
  color: rgba(51, 51, 51, .7);
}
.page-5-card-cost span {
  margin-right: 10px;
  color: #333;
  font-size: 40px;
  vertical-align: sub;
}
#page-5-desc {
  margin-top: 80px;
  margin-bottom: 60px;
  display: inline-block;
  font-size: 13px;
  color: #AAA;
}
#page-5-card-2 {
  background-image: linear-gradient(-180deg, #1567D2 0%, #192DA4 100%);
}
#page-5-card-3 {
  background-image: linear-gradient(-180deg, #FF7549 0%, #E24B1A 98%);
}
.page-5-card-white {
  color: #FFF;
}
#page-5-card-2 .page-5-card-title {
  text-shadow: #004E86 0 6px 6px;
}
#page-5-card-3 .page-5-card-title {
  text-shadow: rgba(190, 64, 23, .5) 0 6px 6px;
}
.page-5-card-white .page-5-card-cost {
  border-top-color: rgba(255, 255, 255, .5)
}
.page-5-card-white ul.page-5-ul li,
.page-5-card-white .page-5-card-cost span {
  color: rgba(255, 255, 255, 1);
}
.page-5-card-white .page-5-card-cost {
  color: rgba(255, 255, 255, .7);
}
.page-5-card-white ul.page-5-ul li::before {
  background-color: #FFF;
}

/* page-6 */
#page-6-table {
  margin-top: 65px;
  margin-bottom: 120px;
}
#page-6-table tr {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(0, 0, 0, .1);
}
#page-6-table tr:first-child,
#page-6-table tr:nth-child(2),
#page-6-table tr:last-child {
  border: none;
}
#page-6-p-wrap {
  border-left: 1px solid rgba(0, 0, 0, .1);
}
.page-6-table-p {
  font-size: 15px;
  position: relative;
  padding-left: 20px;
  text-align: left;
}
.page-6-table-p::before {
  position: absolute;
  left: 0;
  top: 7px;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #333;
}
.page-6-table-p + p {
  margin-top: 40px;
}

/* footer */
#footer-wrap {
  background-color: #00255A;
  color: #fff;
}
#footer-title {
  letter-spacing: 10px;
  word-spacing: 20px;
  color: #fff;
}
.footer-card-key {
  font-size: 18px;
  color: #375BF3;
  margin-bottom: 10px;
}
.footer-card-value {
  font-size: 18px;
}
#footer-flex-wrap {
  margin-top: 90px;
  align-items: center;
}
#footer-qrcode-wrap {
  width: 160px;
  height: 160px;
  border: 2px solid #375BF3;
  border-radius: 6px;
  position: relative;
}
#footer-qrcode {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#footer-copyright-wrap {
  margin-top: 170px;
  margin-bottom: 60px;
}
#footer-copyright {
  opacity: 0.2;
  font-size: 14px;
  color: #FFFFFF;
}

/* animate */
/* header background elements */
/* @keyframes run-1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes run-2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes run-3 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes run-4 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.move-1 {
  animation: run-1 6s infinite;
}
.move-2 {
  animation: run-2 6s infinite;
}
.move-3 {
  animation: run-3 6s infinite;
}
.move-4 {
  animation: run-4 6s infinite;
} */

/* header-chart */
#header-chart,
#header-chart #Path-5-Copy-2 {
  transition: all .5s linear;
}
#header-chart:hover {
  top: 290px;
}
#header-chart:hover #Path-5-Copy-2 {
  transform: translate(2.5% ,10px) scaleX(.95);
}

/* paga-1-1 */
@keyframes page-1-1 {
  0% {
    transform: translate(154.837310px, 57.644342px);
  }
  50% {
    transform: translate(181.837310px, 57.644342px);
  }
  100% {
    transform: translate(154.837310px, 57.644342px);
  }
}
@keyframes page-1-2 {
  0% {
    transform: translate(299.006211px, 60.315545px);
  }
  50% {
    transform: translate(269.006211px, 60.315545px);
  }
  100% {
    transform: translate(299.006211px, 60.315545px);
  }
}
@keyframes page-1-3 {
  0% {
    transform: translate(53.076305px, 0.000000px);
  }
  50% {
    transform: translate(53.076305px, -20.000000px);
  }
  100% {
    transform: translate(53.076305px, 0.000000px);
  }
}
svg {
  overflow: visible;
}
#page-1-1:hover #Group-8 {
  animation: page-1-1 2s infinite;
}
#page-1-2:hover #Group-44 {
  animation: page-1-2 2s infinite;
}
#page-1-3:hover #page-1-3-Group-34 {
  animation: page-1-3 2s infinite;
}


/* 适配窄屏 */
@media screen and (max-width: 1200px) {
  .page {
    max-width: 960px;
    padding: 0 20px;
  }
  #header-chart {
    left: 300px;
  }
  .page-5-flex {
    width: 300px;
  }
}