/* css reset */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  width: 100%;
}
a {
  color: #2d374b;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
p {
  word-wrap: break-word;
}

/* common */
.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  transition: background-color .15s;
}
.page-wrap {
  overflow: hidden;
  width: 100%;
}
.page {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.flex-wrap {
  display: flex;
  justify-content: space-around;
}
.page-1-flex {
  max-width: 595px;
}
.center {
  text-align: center;
}

/* header */
#header-wrap {
  /* background: url(../img/header-bg.svg) no-repeat top center; */
  height: 880px;
  overflow-y: visible;
}
#header-bg {
  position: absolute;
}
#header-navs {
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}
#login-wrap {
  float: right;
}
#login-btn {
  width: 70px;
  height: 30px;
  line-height: 30px;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 30px;
}
#login-btn:hover {
  background-color: rgba(255, 255, 255, .2);
}

#slogon {
  margin-top: 140px;
  color: #fff;
}
#slogon-title {
  font-size: 44px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, .15) 0 7px 20px;
}
#slogon-desc {
  font-size: 26px;
  margin-top: 20px;
  opacity: .8;
}
#try-btn {
  margin-top: 40px;
  width: 170px;
  height: 50px;
  border-radius: 50px;
  line-height: 50px;
  font-size: 24px;
  background-color: #EF5A2A;
  box-shadow: rgba(91, 23, 2, .4) 0 8px 6px;
}
#try-btn:hover {
  background-color: #FF865F;
}
#header-chart {
  position: absolute;
  top: 300px;
  left: 500px;
}
/* #header-canvas {
  position: absolute;
  top: 100px;
} */

/* page-1 */
#page-1 .page {
  margin-bottom: 180px;
}
.page-1-question {
  display: inline-block;
  width: 167px;
  margin-top: 67px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  font-size: 20px;
  background-color: rgba(239, 90, 42, .2);
  color: #EF5A2A;
  text-align: center;
}
.page-1-title {
  margin-top: 30px;
  font-size: 36px;
  color: #323852;
  font-weight: 700;
}
ul.page-1-ul {
  margin-top: 70px;
}
ul.page-1-ul li {
  position: relative;
  margin-bottom: 20px;
  font-size: 15px;
  color: #636E9E;
  padding-left: 20px;
}
ul.page-1-ul li::before {
  position: absolute;
  left: 0;
  top: 7px;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #2F50DB;
}

/* page-2 */
#page-2 {
  height: 1050px;
  background-color: #F2F2F4;
}
#page-2-title {
  font-weight: 700;
  margin-top: 125px;
  color: #323852;
  font-size: 38px;
  text-align: center;
}
.page-2-flex {
  width: 280px;
}
#page-2-flex-wrap-1 {
  margin-top: 90px;
  justify-content: space-between;
}
#page-2-flex-wrap-2 {
  margin-top: 130px;
  margin-bottom: 100px;
}
.page-2-card-title {
  margin-top: 20px;
  color: #323852;
  font-size: 20px;
  height: 28px;
  line-height: 28px;
  font-weight: 500;
}
.page-2-card-content {
  margin-top: 25px;
  color: #636E9E;
  font-size: 16px;
}

/* page-3 */
#page-3 {
  position: relative;
  height: 1283px;
  margin-top: -200px;
  background: url(../img/page-3-bg.png) no-repeat top center;
}
#page-3-title {
  height: 48px;
  line-height: 48px;
  margin-top: 230px;
  font-weight: 700;
  letter-spacing: 10px;
  color: #FFF;
  font-size: 38px;
  text-align: center;
}
#page-3-title img {
  margin-right: 20px;
}
#page-3-desc {
  margin-top: 30px;
  height: 28px;
  line-height: 28px;
  font-size: 20px;
  text-align: center;
  color: #FFF;
  opacity: .7;
}
#page-3-flex-wrap {
  margin-top: 75px;
}
.page-3-flex {
  width: 160px;
  color: #fff;
  opacity: .3;
  font-size: 20px;
  height: 28px;
  line-height: 28px;
}
.page-3-flex.active {
  opacity: 1;
}
.page-3-flex img {
  margin-right: 10px;
}
#page-3-chart {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.page-3-mac-pic {
  position: absolute;
  top: 118px;
  left: 209px;
}
#page-3-net {
  position: absolute;
  left: 50%;
  top: 280px;
  transform: translateX(-50%);
}
#page-3-canvas {
  top: 30px;
  position: absolute;
}

/* page-4 */
#page-4-1 {
  height: 1050px;
}
#page-4-1 img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* page-5 */
#page-5 {
  background-color: #F2F2F4;
}
#page-5-title {
  font-weight: 700;
  margin-top: 125px;
  color: #323852;
  font-size: 38px;
  text-align: center;
}
#page-5-flex-wrap {
  margin-top: 90px;
}
.page-5-flex {
  position: relative;
  top: 0;
  width: 360px;
  background-color: #fff;
  color: #333;
  text-align: center;
  border-radius: 9px;
  transition: all .5s;
}
.page-5-flex:hover {
  position: relative;
  top: -20px;
}
#page-5-card-1.page-5-flex:hover {
  box-shadow: rgba(0, 0, 0, .1) 0 21px 40px;
}
#page-5-card-2.page-5-flex:hover {
  box-shadow: rgba(0, 46, 172, .3) 0 21px 40px;
}
#page-5-card-3.page-5-flex:hover {
  box-shadow: rgba(255, 117, 73, .3) 0 21px 40px;
}
.page-5-card-title {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  /* border: 2px solid #fff;
  border-radius: 2px; */
  display: inline-block;
  text-shadow: #CFCFCF 0 6px 6px;
}
ul.page-5-ul {
  margin: 0 auto;
  margin-top: 55px;
  height: 208px;
  width: 270px;
  text-align: left;
}
ul.page-5-ul li {
  position: relative;
  line-height: 40px;
  font-size: 15px;
  color: #444;
  padding-left: 20px;
}
ul.page-5-ul li::before {
  position: absolute;
  left: 0;
  top: 16px;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #444;
}
.page-5-card-cost {
  margin: 0 auto;
  width: 310px;
  height: 95px;
  line-height: 95px;
  border-top: 1px dashed rgba(153, 153, 153, .5);
  text-align: right;
  font-size: 15px;
  color: rgba(51, 51, 51, .7);
}
.page-5-card-cost span {
  color: #333;
  font-size: 40px;
}
#page-5-desc {
  margin-top: 80px;
  margin-bottom: 60px;
  display: inline-block;
  font-size: 13px;
  color: #AAA;
}
#page-5-card-2 {
  background-color: #1567D2;
}
#page-5-card-3 {
  background-color: #FF7549;
}
.page-5-card-white {
  color: #FFF;
}
.page-5-card-white .page-5-card-title {
  text-shadow: #004E86 0 6px 6px;
}
.page-5-card-white .page-5-card-cost {
  border-top-color: rgba(255, 255, 255, .5)
}
.page-5-card-white ul.page-5-ul li,
.page-5-card-white .page-5-card-cost,
.page-5-card-white .page-5-card-cost span {
  color: #FFF;
}
.page-5-card-white ul.page-5-ul li::before {
  background-color: #FFF;
}

/* page-6 */
#page-6-1 {
  height: 760px;
}
#page-6-1 img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* footer */
#footer-wrap {
  background-color: #00255A;
  color: #fff;
}
#footer-title {
  font-weight: 700;
  margin-top: 125px;
  font-size: 38px;
  text-align: center;
}
.footer-card-key {
  font-size: 18px;
  color: #375BF3;
}
.footer-card-value {
  font-size: 18px;
}
#footer-flex-wrap {
  margin-top: 90px;
  align-items: center;
}
#footer-qrcode-wrap {
  width: 160px;
  height: 160px;
  border: 2px solid #375BF3;
  border-radius: 6px;
  position: relative;
}
#footer-qrcode {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#footer-copyright-wrap {
  margin-top: 170px;
  margin-bottom: 60px;
}
#footer-copyright {
  opacity: 0.2;
  font-size: 14px;
  color: #FFFFFF;
}

/* animate */
/* .page-1-flex img, .page-1-flex li, .page-1-flex p, .page-2-flex img, .page-2-flex p {
  opacity: 0;
} */
#header-chart,
#header-chart #Path-5-Copy-2 {
  transition: all .2s;
}
#header-chart:hover {
  top: 290px;
}
#header-chart:hover #Path-5-Copy-2 {
  transform: translate(2.5% ,10px) scaleX(.95);
}

#header-chart:hover #Group-23-Copy #Path-8-Copy,
#header-chart:hover #Group-23-Copy #Path-8-Copy-2 {
  /* transform: scaleY(1.3); */
}
#header-chart:hover #Group-23-Copy #Path-8 {
  /* transform: translateY(100%); */
}
#header-chart:hover #Group-23-Copy {
  /* transform: scaleY(1.1);
  transform-origin: center bottom; */
}
@keyframes run-1 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes run-2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes run-3 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes run-4 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.move-1 {
  animation: run-1 8s infinite;
}
.move-2 {
  animation: run-2 8s infinite;
}
.move-3 {
  animation: run-3 8s infinite;
}
.move-4 {
  animation: run-4 8s infinite;
}