/* css reset */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select {
  margin: 0;
  padding: 0;
}
body {
  font: 12px"宋体","Arial Narrow",HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  width: 100%;
}
a {
  color: #2d374b;
  text-decoration: none;
}
a:hover {
  color: #cd0200;
  text-decoration: underline;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
p {
  word-wrap: break-word;
}

/* common */
.page-wrap {
  overflow: hidden;
  width: 100%;
}
.page {
  max-width: 1200px;
  margin: 0 auto;
}

/* header */
#header-wrap {
  background: url(../img/header-bg.svg) no-repeat 100% 100%;
  height: 650px;
}
#header-navs {
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}
#header {
  /*height: 100px;*/
}
#login-wrap {
  float: right;
  height: 32px;
}
#login-btn {
  display: inline-block;
  color: #fff;
  width: 70px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 30px;
}