/* css reset */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select {
  margin: 0;
  padding: 0;
}
body {
  font: 12px"宋体","Arial Narrow",HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  width: 100%;
}
a {
  color: #2d374b;
  text-decoration: none;
}
a:hover {
  /* color: #cd0200; */
  text-decoration: none;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
p {
  word-wrap: break-word;
}

/* common */
.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
}
.page-wrap {
  overflow: hidden;
  width: 100%;
}
.page {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.flex-center {
  text-align: center;
}
.flex-wrap {
  display: flex;
  justify-content: space-around;
}
.page-1-flex {
  max-width: 595px;
}

/* header */
#header-wrap {
  background: url(../img/header-bg.svg) no-repeat top center;
  height: 880px;
}
#header-navs {
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}
#login-wrap {
  float: right;
}
#login-btn {
  width: 70px;
  height: 30px;
  line-height: 30px;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 30px;
}

#slogon {
  margin-top: 140px;
  color: #fff;
}
#slogon-title {
  font-size: 44px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, .15) 0 7px 20px;
}
#slogon-desc {
  font-size: 26px;
  margin-top: 20px;
  opacity: .8;
}

#try-btn {
  margin-top: 40px;
  width: 170px;
  height: 50px;
  border-radius: 50px;
  line-height: 50px;
  font-size: 24px;
  background-color: #EF5A2A;
  box-shadow: rgba(91, 23, 2, .4) 0 8px 6px;
}

#header-chart {
  position: absolute;
  top: 300px;
  left: 500px;
}

/* page-1 */
#page-1 .page {
  margin-bottom: 180px;
}
.page-1-question {
  display: inline-block;
  width: 167px;
  margin-top: 67px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  font-size: 20px;
  background-color: rgba(239, 90, 42, .2);
  color: #EF5A2A;
  text-align: center;
}
.page-1-title {
  margin-top: 30px;
  font-size: 36px;
  color: #323852;
  font-weight: 700;
}
ul.page-1-ul {
  margin-top: 70px;
}
ul.page-1-ul li {
  position: relative;
  margin-bottom: 20px;
  font-size: 15px;
  color: #636E9E;
  padding-left: 20px;
}
ul.page-1-ul li::before {
  position: absolute;
  left: 0;
  top: 6px;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #2F50DB;
}

/* page-2 */
#page-2 {
  height: 1050px;
  background-color: #F2F2F4;
}
#page-2-title {
  font-weight: 700;
  margin-top: 125px;
  color: #323852;
  font-size: 38px;
  text-align: center;
}
.page-2-flex {
  width: 280px;
}
#page-2-flex-wrap-1 {
  margin-top: 90px;
  justify-content: space-between;
}
#page-2-flex-wrap-2 {
  margin-top: 130px;
  margin-bottom: 100px;
}
.page-2-card-title {
  margin-top: 20px;
  color: #323852;
  font-size: 20px;
  height: 28px;
  line-height: 28px;
  font-weight: 500;
}
.page-2-card-content {
  margin-top: 25px;
  color: #636E9E;
  font-size: 16px;
}

/* page-3 */
#page-3 {
  height: 1083px;
  margin-top: -200px;
  background: url(../img/page-3-bg.png) no-repeat top center;
}
#page-3-title {
  height: 48px;
  line-height: 48px;
  margin-top: 230px;
  font-weight: 700;
  letter-spacing: 10px;
  color: #FFF;
  font-size: 38px;
  text-align: center;
}
#page-3-title img {
  margin-right: 20px;
}
#page-3-desc {
  margin-top: 30px;
  height: 28px;
  line-height: 28px;
  font-size: 20px;
  text-align: center;
  color: #FFF;
  opacity: .7;
}
#page-3-flex-wrap {
  margin-top: 75px;
}
.page-3-flex {
  width: 155px;
  color: #fff;
  opacity: .3;
  font-size: 20px;
  height: 28px;
  line-height: 28px;
}
.page-3-flex.active {
  opacity: 1;
}
.page-3-flex img {
  margin-right: 10px;
}